<style type="text/css">

img.btn{
	display:block;
	margin:auto;
	
	}



</style>

<html >



<table width="113%" height="500" bgcolor="#fcfdf4">

<tr>
	<td width="16%"><img class="btn" src="assessment.png"></td>
    <td width="9%" rowspan="7" valign="middle"><img src="arrow1.png"></td>
    <td width="16%"><img src="admission.png"></td>
    <td width="3%" rowspan="7" valign="bottom"><img src="arrow2.png" height="auto" width="auto"></td>
    <td valign="bottom"><img src="arrow4.png" width="auto" height="auto"></td>
    <td width="20%"><img class="btn" src="studentfile.png"></td>
    <td width="18%"> image</td>
</tr>

<tr>
	<td><img src="downarrow1.png" width="auto" height="auto"></td>
    <td><img src="downarrow1.png" width="auto" height="auto"></td>
    <td colspan="3" align="center"><img src="threearrow1.png"></td>
 
</tr>

<tr>
	<td height="85"><img src="trialclass.png"></td>
    <td><img src="createsched.png"></td>
    <td width="18%"><img src="books.png"></td>
    <td> <img src="attendance.png"></td>
    <td> <img src="progress.png"></td>
    
</tr>


<tr>
	<td>&nbsp;</td>
    <td><img src="downarrow1.png" alt="" width="auto" height="auto"></td>
    <td width="18%"><img src="downarrow1.png" alt="" width="auto" height="auto"></td>
    <td><img src="downarrow1.png" alt="" width="auto" height="auto"></td>
    <td><img src="downarrow1.png" alt="" width="auto" height="auto"></td>
    
</tr>

<tr>
	<td><img src="reenrollee.png"></td>
    <td><img src="invoicing.png"></td>
    <td><img src="examination.png"></td>
    <td> <img src="onlinepractice.png"></td>
    <td> <img src="generatereports.png"></td>
    
</tr>

<tr>
	<td>&nbsp;</td>
    <td><img src="downarrow1.png" alt="" width="auto" height="auto"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    
</tr>


<tr>
	<td height="75"><img src="continuing.png"></td>
    <td><img src="kitissuance.png"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    
</tr>







</table>



</html>
